/* Error: expected ":".
 *    ,
 * 23 |      'family-primary': 'Lato', sans-serif,
 *    |                                          ^
 *    '
 *   scss/abstracts/_variables.scss 23:42  @import
 *   scss/abstracts/_index.scss 6:9        @import
 *   scss/main.scss 5:9                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \":\".\a    \2577 \a 23 \2502       'family-primary': 'Lato', sans-serif,\a    \2502                                           ^\a    \2575 \a   scss/abstracts/_variables.scss 23:42  @import\a   scss/abstracts/_index.scss 6:9        @import\a   scss/main.scss 5:9                    root stylesheet";
}
