/* ============================================= */
  /*              Grid System                      */
  /* ============================================= */
  @use "sass:list";
  @use "sass:map";
  @import 'extends.scss';

  .container {
    padding: 0 10px;
    @include mq(s) {
      @include center(1400px);
    }
  }
  
  .row {
    @include flexy(column);
    padding: 1em 10px;
    @include mq(s){
      flex-direction: row;
    }
  }

  %theme {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
  }
  @for $index from 1 through 12 {
        .theme.col-#{$index} {
          @extend %theme;
          $color: map-get($theme-colours, col-#{$index});
          background-color: $color;
            @if $index==7{
              @include mq(s){
              @include center;
              text-align: center;
              }
            }
          }
    

   .col-#{$index},
   .theme.col-#{$index} {
      @include mq(s){
        flex-basis:8.33% * $index;  
      }
    } 
  }


  
    

  .card {
    flex-basis: 100%;
  }
  
  
  