/* ============================================= */
  /*              Images                           */
  /* ============================================= */
  
  .img-avatar {
    @include center;
    margin-top: 10px;
    max-height: 100%;
  }
  
  .img-frame {
    @include center;
    margin-top: 10px;
    padding: 13px;
    border: 1px solid #ccc;
  }
  
  .img-logo {
   @include center;
  }