/* ============================================= */
  /*              Buttons                          */
  /* ============================================= */
  
  .btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    
    @include mq(s) {
      padding: 10px 30px;
      & + & {
        margin-left: 10px;
      }
    }
  }
  
  .default {
    background-color: map-get($map: $theme-colours, $key: col-11 );
  }
  
  .error {
    background-color: map-get($theme-colours, col-9);
  }
  
  .info {
    background-color: map-get($theme-colours, col-1);
  }
  
  .success {
    background-color: map-get($theme-colours, col-10);
  }
  
  .warning {
    background-color: map-get($theme-colours, col-2);
  }
  
  
  