/* ============================================= */
  /*              Buttons                          */
  /* ============================================= */
  
  .btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    
    @include mq(s) {
      padding: 10px 30px;
      & + & {
        margin-left: 10px;
      }
    }
    
  }
  
@each $state, $color in $button-colours {

  .#{$state} {
    background-color: $color;
    &:hover {
      background-color: lighten($color,15%);
    }
  }
}




